<div class="warning-message-box col-lg-12">
  <h3 class="warning-message"><i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i> Reports of Increased Kennel Caugh</h3>
  <div class="message-text">
  <br/>
    <p>
      Dear guest,
    </p>
    <p>
      We noticed an increase in kennel cough cases around the area. Please make sure your little friends are vaccinated before visting our kennel.
    </p>
    <p>
      If your pet has any symptoms of KC, please refrain from visiting the kennel until your pet has no more symptoms.
    </p>
  </div>
</div>
<div class="success-message-box col-lg-12">
  <h3 class="success-message"><i class="fa-solid fa-sun"></i> Family Fun Day</h3>
  <div class="message-text">
    <br/>
    <p>
      Hello friends!
    </p>
    <p>
      Next week we will be holding our annual hotdog eating contest where your dog will be to competitor, not the food. Please contact the main office to register!
      Friends and family are also welcomed to come watch. We will also have a water park for your doggies to cool off during the hot summer days. 
    </p>
    <p>
      We hope to see a large number of you having fun! See you soon,
    </p>
    <p>
      The HVK Team
    </p>
  </div>
</div>
