<section id="home" class ="splash-page content-container">
  <div id="home-wrapper" class="row white-color blue-background">
      <h1>About Us</h1>

      <p>
      At HVK, we pride ourselves on being the best pet care, pet boarding and dog daycare facility in the region. Since the dawn of time, we’ve built our reputation on honesty, quality of care, and employing the best people to care for your pups. 
      </p>
      <h2>Our Staff</h2>
      <p>
        All of our staff have graduated from Harvard and have gone through vigorous training in order to offer the best possible care to our furry guests. 
      </p>
  </div>
</section>
