<section id="home" class ="splash-page content-container">
  <div id="home-wrapper" class="row">
    <div id="welcome" class="col-lg-7 container-fluid div-padding">
      <h1>Welcome to Happpy Valley Kennel</h1>
      <h3 class="slogan">Where Every Day's a Dog Day</h3>
    </div>
    <div
      class="col-lg-5 container-fluid center-content div-padding dark-background-div half-border-radius-right"
    >
      <%= image_tag "hvk_logo_alt.png", class: "simple-logo" %>
      <br/>
      <%= link_to "Sign In", user_session_path, class: "btn btn-primary btn-lg cool-beans-style-primary" %>
      <br/>
      <%= link_to "Create Account", new_user_registration_path, class: "link-forms white-color" %>
    </div>
  </div>
</section>
