<section id="home" class ="splash_page content-container">
  <div id="home_wrapper" class="row">
    <div id="welcome" class="col-lg-7 container-fluid div_padding">
      <h1>Welcome to Happpy Valley Kennel</h1>
      <h3 class="slogan">Where Every Day's a Dog Day</h3>
    </div>
    <div
      class="col-lg-5 container-fluid center_content div_padding dark_background_div half_border_radius_right"
    >
      <%= image_tag "hvk_logo_alt.png", class: "simple_logo" %>
      <br/>
      <%= link_to "Sign In", user_session_path, class: "btn btn-primary btn-lg cool_beans_common cool_beans_style_primary" %>
      <br/>
      <%= link_to "Create Account", new_user_registration_path, class: "link_forms link_common" %>
    </div>
  </div>
</section>
