<section id="home" class ="splash_page content-container">
  <div id="home_wrapper" class="row">
    <div id="home_signin" class="col-lg-7 container-fluid div_padding">
      <h1>Welcome to Happpy Valley Kennels</h1>
    </div>
    <div
      class="col-lg-5 container-fluid center_content div_padding dark_background_div half_border_radius_right"
    >
      <%= image_tag "hvk_logo.png", class: "simple_logo" %>
      <br/>
      <%= link_to "Sign In", user_session_path, class: "btn btn-primary btn-lg" %>
      <br/>
      <h3>New Here?</h3>
      <%= link_to "Create Account", new_user_registration_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</section>
<section id="about" class="content-container">
  <h1>Welcome to Happy Valley Kennels</h1>
  <p>Here at HVK, we pride ourselves in offering the best possible care for your
    pups.
  </p>
</section>
<%= render "devise/shared/links" %>
