// 1. Include functions & variables first
@import "bootstrap/functions";
@import "bootstrap/variables";

$custom-colors: (
  "bootstrap": #563d7c,
  "simpleform": #00617f
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url("https://use.typekit.net/axz2hml.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");
// App sections
@import "application/common";
@import "application/new_account";
@import "application/jquery_ui";
@import "application/navbar";
@import "application/buttons_links";
@import "application/forms";
@import "application/dashboard";
@import "application/sign_in";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";
