@import "./common.scss";

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

/********************* BUTTONS *********************/
.cool-beans-common {
    @extend .link-font-family;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.cool-beans-common::after {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
    content: '';
}

.cool-beans-common:hover::after {
    transform: translate(0, 0);
}

.cool-beans-style-primary {
    @extend .cool-beans-common;
    @extend .white-background;
    @extend .blue-color;
    border: 2px solid #FFFFFF;
    font-size: 3em;
}

.cool-beans-style-primary::after {
    @extend .orange-background;
}
.cool-beans-style-primary:hover {
    @extend .white-color;
    border: 2px solid transparent;
    transform: scale(1.02);
    will-change: transform;
}

.cool-beans-style-secondary {
    @extend .cool-beans-common;
    @extend .white-background;
    @extend .blue-color;
    border: 2px solid #FFFFFF;
    font-size: 2em;
}

.cool-beans-style-secondary::after {
    @extend .blue-background;
}

.cool-beans-style-secondary:hover {
    border: 2px solid transparent;
    @extend .white-color;
    transform: scale(1.02);
    will-change: transform;
}

/********************* SECONDARY LINKS *********************/
.link-common {
    @extend .link-font-family;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-decoration: none;
}

.link-navbar {
    @extend .link-common;
    @extend .blue-color;
    font-size: 2em;
    padding-bottom: 0px;
}

.link-forms {
    @extend .link-common;
    @extend .white-color;
    font-size: 2em;
    padding-bottom: 0px;
}

.link-common::before {
    content: '';
    @extend .orange-background;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link-common:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}