a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/********************* BUTTONS *********************/

.cool_beans_common {
    font-family: amatic-sc, sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.cool_beans_common::after {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
    content: '';
}

.cool_beans_common:hover::after {
    transform: translate(0, 0);
}

.cool_beans_style_primary {
    border: 2px solid #FFFFFF;
    color: #002F2F;
    background-color: #FFFFFF !important;
    font-size: 3em;
}

.cool_beans_style_primary::after {
    background-color: #F24405;
}
.cool_beans_style_primary:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    transform: scale(1.02);
    will-change: transform;
}

.cool_beans_style_secondary {
    border: 2px solid #FFFFFF;
    color: #002F2F;
    background-color: #FFFFFF !important;
    font-size: 2em;
}

.cool_beans_style_secondary::after {
    background-color: #046380;
}

.cool_beans_style_secondary:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    transform: scale(1.02);
    will-change: transform;
}

/********************* SECONDARY LINKS *********************/
.link_common {
    font-family: amatic-sc, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-decoration: none;
}

.link_navbar {
    color: #002F2F !important;
    font-size: 2em;
    padding-bottom: 0px;
}

.link_forms {
    color: #FFFFFF !important;
    font-size: 2em;
    padding-bottom: 0px;
}

.link_common::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #F24405;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link_common:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}