@import "./common.scss";

#dashboard-wrapper {
    @extend .blue-background;
    margin: 10px auto;
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.update-profile {
    @extend .white-color;
    text-align: center;
}

hr {
    @extend .white-color;
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid;
    opacity: 1;
    width: 100%;
}

.update-profile-msg{
    margin-bottom: -4px;
    margin-top: 10px;
}