@import "./common.scss";

#dashboard-wrapper {
    @extend .white-background-opacity;
    margin: 10px auto;
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 5px 20px black;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.profile-div {
    border-right: 4px solid #002F2F;
}

.img-thumbnail {
    @extend .blue-background;
}

.profile-content hr {
    @extend .blue-color;
}

.profile-div li {
    @extend .blue-color;
    list-style-type: none;
    border-bottom: 1px solid #002F2F;
    padding: 5px;
}

.profile-div li i {
    @extend .blue-color;
    margin-right: 5px;
    margin-top: 5px;
    font-size: larger;
}

.update-profile {
    @extend .blue-color;
    @extend .header-links-font-family;
    text-align: center;
    font-weight: bolder;
}

.update-profile-msg {
    margin-bottom: -4px;
    margin-top: 10px;
}

#dashboard-content {
    @extend .white-background;
    width: 100%;
    margin-left: 10px;
}