@import "./common.scss";

.navbar {
    z-index: 999;
    border-bottom: 1px solid #002F2F;
}

.navbar-button {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.navbar-custom {
    background-color: #fff !important;
}

.nav-item {
    margin-left: 10%;
}

.navbar-logo {
    height: 80px;
    width: 240px;
}