@import "./common.scss";

.pet-box {
    margin-left: 30px;
    margin-bottom: 20px;
    border-bottom: thin dotted black;
}

.pet-box-wrapper {
    width: 100%;
}

.pet-profile-default {
    max-width: 200px;
    height: 200px;
}

.pet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .pet-description {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: center;
        text-align: center;
    }
}