/* HTML Tag CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    @extend .main-text-font-family;
    line-height: 1.6;
    margin: 0;
    background-image: url(asset-path('hvk_pattern.png'));
    background-repeat: repeat;
    background-position: center;
    height: calc(100vh - 97px);
    background-color: white;
}

p {
    font-size: large;
}

hr {
    @extend .white-color;
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid;
    opacity: 1;
    width: 100%;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-padding {
    padding: 15px;
}

.border-radius {
    border-radius: 10px;
}

.float-right {
    float: right;
}

.dark-background-div {
    background-color: #002F2F;
    padding: 15px;
}

h2 {
    @extend .white-color;
}

#home-wrapper {
    background-color: rgba(0, 47, 47, 0.55);
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
}

.slogan {
    @extend .orange-color;
    @extend .white-background;
    font-size: 3em;
    box-shadow: 4px 5px 20px black;
    padding: 5px;
}

.wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#welcome {
    padding: 15px;
    @extend .center-content;
}

/* Index page CSS */
.splash-page {
    background-image: url(asset-path('Valkyrie2.jpg'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.simple-logo {
    width: 100px;
    height: 100px;
}

.content-container {
    @extend .center-content;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
}

.content-container h1 {
    @extend .header-links-font-family;
    @extend .white-color;
    font-style: italic;
    font-size: 5em;
    margin-top: 0px;
    text-shadow: 0 4px 4px #000000;
    text-align: center;
}

.content-container p {
    font-size: 1.5rem;
}

/* Fonts and colors */
.header-links-font-family {
    font-family: cooper-black-std, serif !important;
}

.main-text-font-family {
    font-family: ff-uberhand-pro, sans-serif !important;
    font-weight: 300;
    font-style: normal;
}

.orange-background {
    background-color: #F24405 !important;
}

.blue-background-opacity {
    background-color: rgba(0, 47, 47, 0.55);
}

.white-background-opacity {
    background-color: rgba(255, 255, 255, 0.85);
}
.blue-background {
    background-color: #002F2F !important;
}

.white-background {
    background-color: #FFFFFF !important;
}

.orange-color {
    color: #F24405 !important;
}

.blue-color {
    color: #002F2F !important;  
}

.white-color {
    color: #FFFFFF !important;
}

